# binaryRecord.template
record(bi, "$(P):BI:$(USER)"){
  field(DESC, "$(DESC):")
  field(INP,  "$(PVN) CPP")
  field(FLNK, "$(P):DFO:B:$(USER)")
}
record(dfanout, "$(P):DFO:B:$(USER)"){
  field(DESC, "Move data")
  field(DOL,  "$(P):BI:$(USER)")
  field(OMSL, "closed_loop")
  field(OUTA, "$(P):BO:$(USER) PP")
}
record(bo, "$(P):BO:$(USER)"){
  field(DESC, "Push todriver")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn($(PORT),0,1) $(USER)")
}
