# longRecord.template
record( longin, "$(P):LI:$(USER)"){
  field( DESC, "$(DESC):")
  field( INP,  "$(PVN) CPP")
  field( FLNK, "$(P):DFO:LO:$(USER)")
}
record( dfanout, "$(P):DFO:LO:$(USER)"){
  field( DESC, "Move data")
  field( DOL,  "$(P):LI:$(USER)")
  field( OMSL, "closed_loop")
  field( OUTA, "$(P):LO:$(USER) PP")
}
record( longout, "$(P):LO:$(USER)"){
  field( DESC, "Push to driver")
  field( DTYP, "asynInt32")
  field( OUT,  "@asyn($(PORT),0,1) $(USER)")
}
